# IDE
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Data / Cache
cache/
data/
*.log
*.tmp

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

.venv1/

# API Keys and Sensitive Data
.env